body {
    font-family: Balsamiq Sans;
}

@font-face {
    font-family: mybalsamiq;
    src: url(assets/Balsamiq_Sans/BalsamiqSans-Regular.ttf);
}

@font-face {
    font-family: mybalsamiq_bold;
    src: url(assets/Balsamiq_Sans/BalsamiqSans-Bold.ttf);
}

.myarticle {
    height: 1000px;
    font-family: mybalsamiq;
}

.mytext {
    font-family: mybalsamiq;
}

.myboldtext{
    font-family: mybalsamiq_bold;
}

.title {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 120px;
}

.title_chicken {
    background-color: rgb(212, 148, 172);
}

.title_beef {
    background-color: rgb(106, 13, 13);
}

.title_sushi {
    background-color: rgb(227, 214, 146);
}

.article {
    width: 100%;
}